body {
  margin: 0;
  font-family: 'monospace', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  'monospace';
}

/* .dateBar {
  font-family: 'monospace';
  background-color: white;
  text-align: center;
  justify-content: center;
} */

/*
.Work {
  font-family: 'Helvetica Neue';
  background-color: red;
}

.Travel {
  font-family: 'monospace';
  background-color: orange;
}

.FreeTime {
  font-family: 'Oxygen';
  background-color: yellow;
}

.Other {
  font-family: 'Cantarell';
  background-color: green;
}

#Appointment {
  color: blue;
}

#ToDo {
  color: indigo;
}

#DueDate {
  color: purple;
}

#Other {
  color: pink;
}
*/
/*
NavBar {
  font-family: 'monospace';
} 
*/

#WeekDayTitles {
  margin: 0;
  padding: 0; 
  width: 14%;
  border: 1px solid black;
  background-color: gray;
}

#monthEvent {
  font-size: 14px;
  padding: 2px;
  margin: 0px;
}

#monthCard {
  border-radius: 0;
  height: 120px; 
}

#weekCard {
  border-radius: 0;
  height: 700px;
}